body{
    background-color: #F3E8EE;
}

footer,header{
    display: none !important;
}

.e1fb0mya1.css-fblp2m.ex0cdmw0{
    visibility: hidden !important;
}

.element-container.css-ymhqzq.e1tzin5v3{
    margin-top: -10px;
}

.element-container.css-ymhqzq.e1tzin5v3{
    z-index: 1;
}

.st-au.st-av.st-aw.st-ax.st-e6.st-e7.st-b6.st-e8.st-e9{
    height: 20px;
    border-radius: 5px;
}

.st-b6{
    min-height: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer !important;
}

.css-1dx1gwv{
    margin-top: -30px;
}

.css-demzbm.e88czh83{
width: 0;

}

.css-10y5sf6{
    cursor: e-resize;
    top: -30px
}

.css-18e3th9{
    padding: 2rem !important;
}


.css-26ecr1.e16nr0p31{
    display: none;
}

.css-6vw1hb.e1tzin5v2{
    display: none;
}

.js-plotly-plot .plotly .modebar {
    position: absolute !important;
   top: 450px !important;
    right: -6px !important
}

.css-10trblm.e16nr0p30{
    text-align: center;